@import "../../global.scss";

.footer{
    width: 100%;
    height: 70px;
    background-color: $orangeColor;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        margin-bottom: 5px;
        span{
            color: crimson;
        }
    }
}